/* ContactForm.css */
.contact-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 600px; /* Adjust the max-width as needed */
  margin: auto;
}

.label-column {
  display: flex;
  flex-direction: column;
}

.column {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  padding-bottom: 20px;
}

input,
.message {
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 10px; /* Adjust the margin between input fields as needed */
  width: 20vw;
}

.button-container {
  grid-column: span 2; /* Ensure the button spans both columns */
  text-align: center; /* Center the button */
}
